<h2 class="center centertitle"><%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <%= simple_format(@article.description) %>
  <div class="article-actions">
    <%= link_to "All Articles", articles_path, class: "btn btn-xs btn-success" %>
    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to 'Delete', article_path(@article), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>



